@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script type="text/javascript">
    $(document).ready(function () {
        $("form input:button").click(function () {
            $.ajax({
                type: "POST",
                url: 'https://localhost:44315/api/Authenticate/login',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    $('section').fadeOut('fast', function () {
                        $('section').html('Welcome ' + data.name).fadeIn('fast', function () {
                            $('body').css({ 'backgroundColor': '#' + data.background });
                        });
                    });
                },
                statusCode: {
                    403: function (e) {
                        $("#message").html(e.responseText);
                    }
                }
            });
            return false;
        });
    });

            $('#btnClear').click(function () {
                ulEmployees.empty();
            });
        });
</script>

<form>
    Username : <input type="text" id="username" name="username" />
    Password : <input type="password" id="password" name="password" />
    <br /><br />
    <input id="btn" type="button" value="Authenticate and Get Employees" />
    <input id="btnClear" type="button" value="Clear" />
    <ul id="ulEmployees"></ul>
</form>